<div class="card" *ngIf="dates.length > 0">
  <div class="card-header">Available days in Schengen by date</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Trip</th>
          <th scope="col" class="text-center">Balance</th>
          <th scope="col">+180 days</th>
          <th scope="col">-180 days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let date of dates">
          <td>{{ date.date | utcDate }}</td>
          <td>{{ date.tripName }}</td>
          <td
            class="text-center"
            [ngClass]="{
              'table-danger': date.balance > 90,
              'table-warning': date.balance >= 80,
              'table-success': date.balance >= 0
            }"
          >
            {{ date.balance }}
          </td>
          <td>{{ date.date180Future | utcDate }}</td>
          <td>{{ date.date180Past | utcDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
