<div class="container">
  <div class="card">
    <h4 class="card-header">Schengen Calculator Tourist Visa Calculator</h4>
    <div class="card-body">
      <p class="lead">The Schengen Calculator can help determine how long to stay in Europe's Schengen area.</p>
    For US residents, staying in the Europe Schengen area (27 countries) can get complex when trying to maximize the
      days within the area.
      According to <a href="https://www.schengenvisainfo.com/us-citizens/">Schengen Visa Info</a>:
      <p><em>Many people get confused when it comes to the 90/180 rule. But, the rule is very simple. The 180-day period
          keeps rolling. Therefore, anytime you wish to enter the Schengen, you just have to count backward the last 180
          days, and see if you have been present there for more than 90 days throughout that period.</em></p>
      While the rule is simple, if coming within the area many times it can get a bit complex to count the days.
      This tool helps with complex entries and exits, making sure you don't overstay your alloted time.
      Of course, while this tool is here to help, you should check with another source as to not run into trouble
      with immigration officers.
    </div>
  </div>

  <!--Adding trips-->
  <sh-addTrip [trips]="trips" (tripAdded)="addTrip($event)"></sh-addTrip>

  <!--List of trips-->
  <sh-trips [trips]="trips" (removeTrip)="removeTrip($event)"></sh-trips> 

  <!--List of the dates showing balance-->
  <sh-balance [dates]="dates"></sh-balance>

  <!--Code Variables-->
  <!-- <div class="card">
    <div class="card-header">Code Variables</div>
    <div class="card-body">
      <pre>
        {{trips | json}}
      </pre>
    </div>
  </div> -->
</div>