`
<div class="card">
  <div class="card-header">Add New Trip</div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label for="formNewTrip" class="form-label"
          >New Trip Name (optional)</label
        >
        <input
          type="text"
          class="form-control"
          id="formNewTrip"
          [(ngModel)]="trip.name"
        />
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col">
        <br />
        <input
          class="btn btn-primary"
          type="submit"
          value="Add New Trip"
          [disabled]="!canAddTrip()"
          (click)="addTrip()"
        />
      </div>
    </div>
    <div class="row" *ngIf="errorMessage.length > 0">
      <span class="small text-danger">{{ errorMessage }}</span>
    </div>
  </div>
</div>
