`<div class="card">
    <div class="card-header">Add New Trip</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <label for="formNewTrip" class="form-label">New Trip Name (optional)</label>
                <input type="text" class="form-control" id="formNewTrip" 
                    [(ngModel)]="trip.name">
            </div>
            <div class="col">
                <label for="formNewTripDates" class="form-label">Arrival and Departure Dates</label>
                <input type="text" id="formNewTripDates"
                placeholder="Click to add trip dates"
                class="form-control"
                bsDaterangepicker
                [(ngModel)]="dateRange" 
                [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', containerClass: 'theme-blue', isAnimated: true }">
            </div>
            <div class="col">
                <br>
                <input class="btn btn-primary" type="submit" value="Add New Trip"
                [disabled]="!canAddTrip(dateRange)"
                (click)="addTrip(trip, dateRange)">
            </div>
        </div>
        <div class="row" *ngIf="errorMessage.length > 0">
            <span class="small text-danger">{{errorMessage}}</span>
        </div>
    </div>
</div>